body{
    text-align: center;
    border-style: groove;
    border-color: #2b0202;
    font-size: 10px;
    background-color: #3d2e4f;
  }
  img{
    width: 200px;
    height: 200px;
    border-style: groove;
    border-color: #2b0202;
  }
  .yusufinput{
    background-color:brown;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    color: white;
    font-size: 20px;
  }
  .yusufinput2{
    background-color:#793ec0;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    border-top: 50px;
    color: white;
  }
  .yusufinput3{
    background-color: #f5c505;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput4{
    background-color: #d419ca;
    border-radius: 75px;
    width: 450px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput5{
    background-color: #eb283f;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput6{
    background-color: #86babf;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput7{
    background-color: #31135e;
    color: white;
    border-radius: 75px;
    width: 400px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput8{
    background-color: #094de0 ;
    border-radius: 75px;
    width: 450px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput9{
    background-color: #e83c3c;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput10{
    background-color: #ba685f;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput11{
    background-color: #16b540;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput12{
    background-color: #18ab89;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput13{
    background-color: #579294;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput14{
    background-color: #09296e;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput15{
    background-color: #80420b;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput16{
    background-color: #969044;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput17{
    background-color: #0e1736;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput18{
    background-color: #6d58d6;
    border-radius: 75px;
    width: 600px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput19{
    background-color: #6e347d;
    border-radius: 75px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput20{
    background-color: red;
    border-radius: 75px;
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: white;
  }
  .yusufinput21{
    background-color: #399c2a;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .yusufinput22{
    background-color: #467054;
    border-radius: 75px;
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .toggle{
    font-size: 20px;
    text-align: center;
    color: white;
}
.a{
    font-size: 20px;
    color: rgb(223, 203, 203);
}
.toggle1{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a1{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle2{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a2{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle3{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a3{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle4{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a4{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle5{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a5{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle6{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a6{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle7{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a7{
  font-size: 20px;
  color: rgb(223, 203, 203);
}
.toggle8{
  font-size: 20px;
  text-align: center;
  color: white;
}
.a8{
  font-size: 20px;
  color: rgb(223, 203, 203);
}